.containerasd {
  margin: 10px;
}

.promosCard {
  margin: 5px;
  text-align: center;
  flex-direction: column;
  margin: 2rem auto;
}

.crearNuevaPromo {
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
}

.butonCrearPromo{
  text-align: center;
  margin: 3px;
}