<!-- section 4 -->
<div class="container py-5">
    <div class="row">
        <div class="col-md-6">
            <ng-lottie [options]="contrato"></ng-lottie>
            <!-- <img class="img-customer" src="assets/images/illustrations/customers.svg" alt=""> -->
        </div>

        <div class="col-md-6">
            <div class="card w-100 bg-transparent border-0">
                <div class="card-body text-center text-md-start">
                    <h3 class="fw-bold">Nuestros terminos y condiciones de uso <br> Leerlos, no te llevará más de 5
                        minutos</h3>
                    <p class="body-text">
                        El presente contrato (en adelante “Contrato”) se efectúa entre vos y DóndeCompro? Argentina (en
                        adelante, DóndeCompro?), y regirá el uso que hagas de la WebApp ubicada en
                        https://web.dondecompro.ar/, administrada por DóndeCompro?. Vos declarás haber alcanzado tu
                        mayoría de edad en tu provincia, región o país de residencia.
                        <br>
                        La WebApp DóndeCompro?, fue desarrollada para indicar a los Usuarios Familias (en adelante,
                        Familias) dónde comprar los productos que desean cerca de su ubicación en tiempo real y al mejor
                        precio posible. Además, la WebApp DóndeCompro?, ayuda a los Usuarios Comercios (en adelante,
                        Comercios) a difundir su negocio y potenciar sus ventas a partir de publicidad de bajo costo
                        alojada dentro de la WebApp. El uso de la WebApp DóndeCompro? es libre y gratuita tanto para
                        Familias como para Comercios, y estos últimos tienen la posibilidad de pagar los servicios de
                        publicidad cuando lo deseen.
                        <br>
                        La navegación y/o uso de la WebApp DóndeCompro?, significa la aceptación de la totalidad del
                        presente contrato y, por lo tanto, conlleva el consentimiento y aplicación de lo que en el mismo
                        se indica.
                        <br>
                        La WebApp DóndeCompro?, brinda como servicio un motor de búsqueda comparativo de precios,
                        totalmente gratuito para los usuarios Comercios y Familia, compatible con teléfonos móviles IOS,
                        ANDROID y cualquier otro dispositivo con acceso a internet. La descarga e instalación de la
                        WebApp en el dispositivo desde el que se utiliza es completamente opcional para Familias y
                        Comercios.
                        <br>
                        Usuarios Familia:
                        Al utilizar la plataforma, los Usuarios Familia aceptan los Términos y Condiciones de Uso,
                        permitiendo a DóndeCompro? recopilar información de sus dispositivos para mejorar la calidad de
                        la experiencia de uso. Estos datos no serán divulgados ni utilizados con fines lucrativos por
                        parte de DóndeCompro?.
                        <br>
                        Los Usuarios Familia tienen la obligación de reportar cualquier diferencia existente entre los
                        precios mostrados en nuestro Motor de búsqueda comparativo de precios y en el ticket final de la
                        compra. DóndeCompro?, no se responsabiliza por esta diferencia. No obstante está en posición de
                        penalizar al Comercio por la diferencia planteada.
                        <br>
                        Comercios:
                        Al utilizar la plataforma, los Comercios aceptan los términos de Uso y Condiciones
                        permitiéndonos recopilar información de sus dispositivos para mejorar la calidad de su
                        experiencia de uso. Estos datos no serán divúlganos ni utilizados con fines lucrativos por parte
                        de DóndeCompro?
                        <br>
                        La permanencia de los Comercios en DóndeCompro? no está sujeta a un abono mensual. Pueden
                        permanecer en la misma, siempre y cuando respeten este contrato de Términos y Condiciones de
                        Uso, sin la necesidad de abonar publicidades.
                        <br>
                        Los Comercios tienen la posibilidad de realizar publicidades pagas dentro de la plataforma.
                        <br>
                        DóndeCompro?, brinda espacios publicitarios pagos permitiendo visibilizar promociones de los
                        Comercios. No existe límite en la cantidad de publicidades. Este servicio se abona mensualmente,
                        habilitando al comercio un espacio publicitario dentro de la plataforma. Esta posibilidad es
                        completamente opcional.
                        <br>
                        Las publicidades serán visibles en el departamento y solo en el departamento en cuál se
                        encuentren ubicados geográficamente, permitiendo acercar a las Familias a sus respectivos
                        locales.
                        <br>
                        Los Comercios tienen la obligación de actualizar periódicamente los precios visibles dentro de
                        la WebApp DóndeCompro?, en la medida en que actualizan los precios reales de sus productos. La
                        frecuencia de actualización de precios, no debe ser menor a 3 días ni mayor a 7 días.
                        <br>
                        Aquel Usuario Comercio que no respete los precios publicados serán penalizados con la suspensión
                        de su cuenta, suspensión de las publicidades o cierre inmediato de cuenta en nuestra plataforma
                        <br>
                        DóndeCompro?, no se hace responsable de cualquier problema que pueda surgir entre los Usuarios
                        Comercios y Familias.
                        <br>
                        Como te comentamos anteriormente, DóndeCompro?, recopila información de tus dispositivos con el
                        objetivo de mejorar la plataforma. Somos una empresa en desarrollo y esa información es muy
                        valiosa para nosotros y la utilizaremos con el único objetivo de mejorar tu experiencia.
                        Seguramente notaras modificaciones constantes, pero no te asustes, lo hacemos con el fin de
                        mejorar nuestros servicios.
                    </p>
                    <div>
                        <button class="btn btn-icon ghost-primary ms-2" aria-label="Settings">
                            <a href="/auth/register" class="text-primary">Registrate</a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>