<app-home-navbar></app-home-navbar>
<!-- Seccion principal -->
<div class="bg-app">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row py-5">
                    <div class="col-md-7 d-flex align-items-center">
                        <div class="d-block text-center text-md-start">
                            <div>
                                <h1 class="fw-bold title">Hoy tenés a tu alcance una app gratuita que te ayudará a ganar dinero en tus compras</h1>
                                <p class="text-lg">Solo registrate, armá tu listado de compras y elegí el lugar dónde más te conviene comprar 
                                </p>
                            </div>

                            <div>
                                <button type="button" class="btn btn-primary shadow" routerLink="/auth/register">Registrate</button>
                                <button type="button" class="btn btn-outline-primary ms-5" routerLink="/auth/login">Inicia sesión</button>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-5 text-right">
                        <ng-lottie [options]="options"> </ng-lottie>
                        <!-- <img src="assets/images/illustrations/start.svg" style="width: 100%;" alt="welcome"> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- section 2 - Como funciona -->
<div class="container py-5">
    <div class="row mt-5">
        <div class="col-sm-12 text-center">
            <h2 class="fw-bold">¿Como funciona?</h2>
            <p class="text-lg">¡Es muy facil! Solo seguí estos pasos</p>
        </div>
    </div>

    <div class="row mt-5 mb-5">
        <div class="col-sm-12 col-md-4 text-center">
            <div class="card">
                <div class="m-auto ghost-success rounded-circle img-lg icon-services">
                    <i class="bi bi-person-circle fs-1 text-success"></i>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Crea un usuario</h5>
                    <p class="card-text">
                        Solo necesitamos tu nombre, correo y dirección para indicarte los comercios más cercanos a tu hogar 
                    </p>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-4 text-center">
            <div class="card">
                <div class="m-auto ghost-primary rounded-circle img-lg icon-services">
                    <i class="bi bi-card-list fs-1 text-primary"></i>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Realiza el listado de productos que quieras comprar</h5>
                    <p class="card-text">Con nuestro buscador, podes encontrar miles de productos para comprar</p>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-4 text-center">
            <div class="card">
                <div class="m-auto ghost-warning rounded-circle img-lg icon-services">
                    <i class="bi bi-cart-plus fs-1 text-warning"></i>
                </div>
                <div class="card-body">
                    <h5 class="card-title">¡Compara y compra!</h5>
                    <p class="card-text">Una vez que tengas la lista terminada, solo compará y nosotros te decimos donde comprar al mejor precio </p>

                </div>

            </div>
        </div>
    </div>
</div>

<!-- section 3 -->
<div class="bg-app">
    <div class="container py-5">
        <div class="row py-5">
            <div class="col-sm-12 text-center">
                <div>
                    <h2 class="fw-bold"> ¿Que estas esperando para registrarte? </h2>
                    <p class="text-lg">No recorras más comercios a pie! Mejor, utiliza DóndeCompro?</p>
                </div>

                <div class="mt-5">
                    <button type="button" class="btn btn-primary" routerLink="/auth/register" >Registrate</button>
                    <button type="button" class="btn btn-outline-primary ms-5" routerLink="/auth/login">Inicia Sesion</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- section 4 -->
<div class="container py-5">
    <div class="row">
        <div class="col-md-6">
            <img class="img-customer" src="assets/images/illustrations/customers.svg" alt="">
        </div>

        <div class="col-md-6">
            <div class="card w-100 bg-transparent border-0">
                <div class="card-body text-center text-md-start">
                    <h3 class="fw-bold">¿Tenes un comercio? <br> Tambien pensamos en vos</h3>
                    <p class="body-text">
                        Registra tu comercio y se visible para cientos de usuarios que ya
                         utilizan DóndeCompro? para maximizar su poder de compra. Además,
                         obtene herramientas gratuitas para asacarle el maximo provecho a tu 
                         comercio y maximiza tus ventas
                    </p>
                    <div>
                        <a href="#" class="text-primary">Registrate ahora</a>
                        <button class="btn btn-icon ghost-primary ms-2" aria-label="Settings">
                            <i class="bi bi-arrow-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- section 5  PUNTUACION USUARIOS-->
<!-- <div class="bg-app">

    <div class="container py-5">
        <div class="row">
            <div class="col-12 mt-4 text-center">
                <h2 class="fw-bold">What our happy clients say</h2>
                <p class="text-lg">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-12 col-sm-4 col-md-4 col-lg-4">
                <div class="card shadow mt-4 mt-sm-0">
                    <div class="pt-3 m-auto">
                        <img src="/assets/images/avatars/avatar-03.svg" class="avatar-md circle m-auto" alt="...">
                    </div>
                    <div class="card-body text-center pt-0">
                        <div class="py-2 star-pulse">
                            <i class="bi bi-star-fill mx-1 fs-5 text-warning"></i>
                            <i class="bi bi-star-fill mx-1 fs-5 text-warning"></i>
                            <i class="bi bi-star-fill mx-1 fs-5 text-warning"></i>
                            <i class="bi bi-star-fill mx-1 fs-5 text-warning"></i>
                            <i class="bi bi-star-fill mx-1 fs-5 text-warning"></i>
                        </div>
                        <h5 class="card-title font-weight-bold">John Doe</h5>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita labore quas eos doloribus
                            nisi asperiores qui rerum facilis tempora cupiditate non est natus placeat repellendus
                            impedit
                            nemo ipsam, beatae doloremque!
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-4 col-md-4 col-lg-4">
                <div class="card shadow mt-4 mt-sm-0">
                    <div class="pt-3 m-auto">
                        <img src="/assets/images/avatars/avatar-04.svg" class="avatar-md circle m-auto" alt="...">
                    </div>
                    <div class="card-body text-center pt-0">
                        <div class="py-2 star-pulse-2">
                            <i class="bi bi-star-fill mx-1 fs-5 text-warning"></i>
                            <i class="bi bi-star-fill mx-1 fs-5 text-warning"></i>
                            <i class="bi bi-star-fill mx-1 fs-5 text-warning"></i>
                            <i class="bi bi-star-fill mx-1 fs-5 text-warning"></i>
                            <i class="bi bi-star-fill mx-1 fs-5 text-warning"></i>
                        </div>
                        <h5 class="card-title font-weight-bold">Ania Ayala</h5>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo perferendis quo natus sequi
                            maxime est illo corrupti, placeat, omnis libero, ratione quae dolorum perspiciatis facilis
                            harum
                            dolor porro accusantium minima!
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-4 col-md-4 col-lg-4">
                <div class="card shadow mt-4 mt-sm-0">
                    <div class="pt-3 m-auto">
                        <img src="/assets/images/avatars/avatar-05.svg" class="avatar-md circle" alt="...">
                    </div>
                    <div class="card-body text-center pt-0">
                        <div class="py-2 star-pulse-3">
                            <i class="bi bi-star-fill mx-1 fs-5 text-warning"></i>
                            <i class="bi bi-star-fill mx-1 fs-5 text-warning"></i>
                            <i class="bi bi-star-fill mx-1 fs-5 text-warning"></i>
                            <i class="bi bi-star-fill mx-1 fs-5 text-warning"></i>
                            <i class="bi bi-star-fill mx-1 fs-5 text-warning"></i>
                        </div>
                        <h5 class="card-title font-weight-bold">Rowhan Smith</h5>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime eius nesciunt quod quaerat
                            odio
                            saepe doloremque blanditiis exercitationem neque reiciendis necessitatibus quibusdam nihil
                            vero
                            ex, sapiente cum sint, aperiam voluptates.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-12 text-center mt-5 mb-5">

                <button type="button" class="btn btn-icon btn-light me-2 shadow">
                    <i class="bi bi-arrow-left-short fs-4"></i>
                </button>

                <button type="button" class="btn btn-icon btn-primary ms-2 shadow">
                    <i class="bi bi-arrow-right-short fs-4"></i>
                </button>

            </div>

        </div>
    </div>
</div> -->

<!-- section 6 -->
<div class="container py-5">
    <div class="row py-5">
        <div class="col-sm-12">
            <div class="card p-4 gradient shadow">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <h3 class="fw-bold text-light">Suscribite a nuestro boletin de noticias</h3>
                            <p class="card-text text-light">Mensualmente, te vamos a enviar nuestras promociones y avances en nuestra plataforma </p>
                        </div>

                           <form class="col-sm-12 col-md-6 d-flex align-items-center justify-content-end" [formGroup]="usuario" (ngSubmit)="SaveData()">

                               <div  >
                                   <div class="flex-container">
                                       <div class="flex-items">
                                           <div class="input-group">
                                               <div class="input-icon input-icon-left">
                                                   <span>
                                                       <i class="bi bi-envelope"></i>
                                                    </span>
                                                    <input type="email" class="form-control" name="correo" style="height: 4rem;" formControlName="correo">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="flex-items">
                                            <button [disabled]="usuario.invalid" type="submit" class="btn btn-light ms-3 shadow"  >Suscribite</button>
                                        </div>
                                    </div>
                                </div>
                            </form>                 
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-home-footer></app-home-footer>